
    {% load static %}

    <link rel="shortcut icon" href="{% static 'assets/img/logos/fav.png' %}" type="image/x-icon" />
    <!-- ========================================= Css files -->
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/owl.carousel.min.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/owl.theme.default.min.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/slick.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/slick-theme.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/aos.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/all.min.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}" />