{% load static %}

<!-- ====================================== js files  -->
<script src="{% static 'assets/js/plugins/jQuery.min.js' %}"></script>
<script src="{% static 'assets/js/plugins/modernizr.min.js' %}"></script>
<script src="{% static 'assets/js/plugins/bootstrap.min.js' %}"></script>
<script src="{% static 'assets/js/plugins/feather-icons.js' %}"></script>
<script src="{% static 'assets/js/plugins/slick.min.js' %}"></script>
<script src="{% static 'assets/js/plugins/owl.carousel.min.js' %}"></script>
<script src="{% static 'assets/js/plugins/aos.js' %}"></script>
<script src="{% static 'assets/js/plugins/typed.js' %}"></script>
<script src="{% static 'assets/js/plugins/all.min.js' %}"></script>
<script src="{% static 'assets/js/plugins/jquery.waypoints.min.js' %}"></script>
<script src="{% static 'assets/js/plugins/jquery.counterup.min.js' %}"></script>
<script src="https://unpkg.com/ionicons@5.0.0/dist/ionicons.js' %}"></script>
<script src="{% static 'assets/js/main.js' %}"></script>